#textdomain wesnoth-ANLEra

# scenarios/2p_A_New_Island.cfg
# The Last Stand is one of three original scenarios by Bob_The_Mighty edited by Ron.

[multiplayer]
    id=ANLEra_ANI
    # po: Use the same style like mainline mapnames in your language. Pay attention to use the same dash sign as the mainline translations.
    name= _ "2p — A New Island" + " (ANLEra)"
    map_data="{~add-ons/ANLEra/maps/A_New_Island.map}"
    description= _ "You rediscover a forgotten island. You know that humans lived here, possibly also elves. But in the course of bigger political events this region was forsaken."
    #description= _ "You rediscover an island once inhabitated by elfes. Can you settle here?"
    #description= _ "You rediscover an island once inhabitated by elfes, but who does live there now?"
    experience_modifier=70%
    random_start_time=no
    force_lock_settings=yes
    allow_era=ANLEra # This demands the scenario to be only played with A New Land Era
    define=2P_ANL_TLS_LOAD_AT_RUNTIME

    current_time=5
    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

#ifdef 2P_ANL_TLS_LOAD_AT_RUNTIME
    [label]
        x=30
        y=24
        text= _ "The farm"
    [/label]
    [label]
        x=30
        y=26
        text= _ "University"
    [/label]
    [label]
        x=30
        y=29
        text= _ "University"
    [/label]
    [label]
        x=30
        y=31
        text= _ "The farm"
    [/label]

    # ------------------------------------------------------
    # Story
    # ------------------------------------------------------

    [story]
        [part]
            show_title=yes
            # This image should normally be part of this add-on
            background="data/campaigns/Liberty/images/story/island.jpg"
            story= _ "You have landed on an unknown island."
        [/part]
        [part]
            show_title=yes
            # This image should normally be part of this add-on
            background="data/campaigns/Liberty/images/story/island.jpg"
            story= _ "Can you settle here?"
        [/part]
    [/story]

    {OBJECTIVES_ANI}
#endif

    # ------------------------------------------------------
    # Scenario Specific Stuff
    # ------------------------------------------------------

    # Define sides
    mp_village_gold=2
    mp_village_support=1
    mp_fog=yes
    mp_shroud=yes
    {./ANI/define_sides.cfg}

#ifdef 2P_ANL_TLS_LOAD_AT_RUNTIME
    # Messages
    {./ANI/messages.cfg}
    {./ANI/deaths.cfg}

    # Modify AI recruits
    {./ANI/ai_recruitment.cfg}

    # Mirco AI controlled units to prevent abuse in early game
    {./ANI/protect_goblins.cfg}

    # Destruction of mushroom mine
    {./ANI/mushroom_mine_destroy.cfg}

    {ENABLE_TRAPPED_CREATURES}
    [event]
        name=prestart
        # Placing Trapped Creatures
        {TRAPPED_CREATURE 24 12 "Gryphon" 9 "1,2"}
        {TRAPPED_CREATURE 24 43 "Gryphon" 9 "1,2"}
        {TRAPPED_CREATURE 30 21 "Merman Hunter" 9 "1,2"}
        {TRAPPED_CREATURE 30 34 "Merman Hunter" 9 "1,2"}
        # Initial AI units
        {./ANI/ai_init_units.cfg}
    [/event]
#endif
[/multiplayer]
