#textdomain wesnoth-ANLEra

# scenario map items

# These macros place items on the map.

#define PLACE_CHEST X Y CAN_TAKE_FILTER_WML TREASURE
    # Place a treasure chest. The first unit to move there will take
    # TREASURE gold. Units out of filter always ignore this chest.

    {PLACE_IMAGE items/chest-plain-closed.png {X} {Y}}
    [event]
        name=moveto
        first_time_only=yes
        [filter]
            x={X}
            y={Y}
            {CAN_TAKE_FILTER_WML}
        [/filter]

        # Expand {TREASURE} outside of any _"translated string".
        {VARIABLE treasure ({TREASURE})}

        # Open chest.
        [sound]
            name=open-chest.wav
        [/sound]
        [remove_item]
            x={X}
            y={Y}
            image=items/chest-plain-closed.png
        [/remove_item]
        {PLACE_IMAGE items/chest-plain-open.png {X} {Y}}

        # Take gold.
        [gold]
            side=$side_number
            amount=$treasure
        [/gold]
        [message]
            speaker=narrator
            image=items/chest-plain-open.png
            message= _ "The chest contains $treasure gold."
        [/message]
        {CLEAR_VARIABLE treasure}
    [/event]
#enddef

#define PLACE_FLAMING_SWORD X Y CAN_TAKE_FILTER_WML
    # Place a flaming sword. A unit in filter can take or leave this
    # weapon. A unit out of filter always ignores this weapon.

    # This sword comes from the mainline campaign, Heir to the Throne.
    # See OBJ_SWORD_FIRE in:
    #   campaigns/Heir_To_The_Throne/utils/httt_utils.cfg

    {PLACE_IMAGE items/flame-sword.png {X} {Y}}
    [event]
        name=moveto
        id=anl flaming sword {X} {Y}
        first_time_only=no
        [filter]
            x={X}
            y={Y}
            {CAN_TAKE_FILTER_WML}
        [/filter]

        [message]
            speaker=unit
            message= _ "This flaming sword provides a 15-4 melee fire magical attack. Should I take and wield it?"

            [option]
                message= _ "Yes"
                [command]
                    [object]
                        name= _ "flaming sword"
                        image=attacks/sword-flaming.png
                        duration=forever
                        description= _ "You hold a mighty blade of fire!"

                        [then]
                            # Remove the sword from this hex.
                            [remove_item]
                                x={X}
                                y={Y}
                                image=items/flame-sword.png
                            [/remove_item]
                            [remove_event]
                                id=anl flaming sword {X} {Y}
                            [/remove_event]
                        [/then]

                        [effect]
                            apply_to=new_attack
                            name=flaming sword
                            description= _ "flaming sword"
                            icon=attacks/sword-flaming.png
                            type=fire
                            range=melee
                            [specials]
                                {WEAPON_SPECIAL_MAGICAL}
                            [/specials]
                            damage=15
                            number=4
                        [/effect]

                        [effect]
                            apply_to=new_animation
                            [attack_anim]
                                [filter_attack]
                                    name=flaming sword
                                [/filter_attack]

                                start_time=-200
                                [if]
                                    hits=yes
                                    [frame]
                                        duration=350
                                        sound=fire.wav
                                    [/frame]
                                [/if]
                                [else]
                                    hits=no
                                    [frame]
                                        duration=350
                                        sound={SOUND_LIST:MISS}
                                    [/frame]
                                [/else]
                            [/attack_anim]
                        [/effect]
                    [/object]
                [/command]
            [/option]
            [option]
                message= _ "No"

                [command]
                    [allow_undo][/allow_undo]
                [/command]
            [/option]
        [/message]
    [/event]
#enddef

#define PLACE_WHITE_FLAG X Y
    # Marks hex X,Y with a white flag. This flag does nothing unless one
    # codes a separate event for hex X,Y.

    [item]
        x={X}
        y={Y}

        # This animation comes from FLAG_VARIANT of mainline
        # data/core/macros/image-utils.cfg, but we also recolor this
        # flag, so it becomes white.
        halo=flags/long-flag-[1~4].png~RC(flag_green>white)~CROP(15,0,72,72):150
    [/item]
#enddef

# chests
{PLACE_CHEST 25 6 (side="1,2,3,4") 150}
{PLACE_CHEST 15 38 (side="1,2,3,4") 150}

# flaming swords
{PLACE_FLAMING_SWORD 10 7 (side="1,2,3,4")}
{PLACE_FLAMING_SWORD 30 36 (side="1,2,3,4")}

# flags
{PLACE_WHITE_FLAG 13 22}
{PLACE_WHITE_FLAG 27 22}

#undef PLACE_CHEST
#undef PLACE_FLAMING_SWORD
#undef PLACE_WHITE_FLAG
