#textdomain wesnoth-anl

# Build Village
#define BUILDINGS_DWARVISH
    {ANL_BUILD_VILLAGE "terrain/village/dwarven-tile.png" _"Build Village" 15 Vud (
        {ANL_SHOW_IF ("ANLEra Dwarvish Miner") "G*,D*,Aa"}
    ) (
        {BUILD_SOUND_1}
    )}

    # ------------------------------------------------
    # CASTLES
    {ANL_TERRAFORM "terrain/castle/dwarven-castle-tile.png" _"Build Castle" 5 () (
        {ANL_SHOW_IF ("ANLEra Dwarvish Miner") "G*,D*,Aa"}
    ) (
        {MODIFY_TERRAIN "Cud" $x1 $y1}
        {BUILD_SOUND_2}
    )}

    # --------------------------------------
    # KEEP

    {ANL_TERRAFORM "terrain/castle/dwarven-keep-tile.png" _"Build a Keep" 5 () (
        {ANL_SHOW_IF ("ANLEra Dwarvish Miner") "C*"}
    ) (
        {MODIFY_TERRAIN "Kud" $x1 $y1}
        {BUILD_SOUND_2}
    )}
#enddef
