#textdomain wesnoth-anl

# Build Village
#define BUILDINGS_OUTLAW
    [option]
        message= {MENU_IMG_TXT2 "terrain/village/human-tile.png" ("<span color='green'>" + _ "Build Village" + "</span>") ("<span size='small'>" + _ "Cost: 15g" + "</span>")}
        {ANL_SHOW_IF ("Ruffian") "G*,Dd,Ds,Aa"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=15
                [/variable]

                [then]
                    {COMPLETE_ACTION (-15)}
                    {MODIFY_TERRAIN_OVERLAY "^Vh" $x1 $y1}
                    {ANL_CAPTURE_VILLAGE}
                    {BUILD_SOUND_1}
                [/then]
            [/if]
        [/command]
    [/option]

    # ------------------------------------------------
    # CASTLES
    [option]
        message= {MENU_IMG_TXT2 "terrain/castle/encampment/regular-tile.png" ("<span color='green'>" + _ "Build Encampment" + "</span>") ("<span size='small'>" + _ "Cost: 5g" + "</span>")}
        {ANL_SHOW_IF ("Ruffian") "G*,Dd,Ds,Aa"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=5
                [/variable]

                [then]
                    {COMPLETE_ACTION (-5)}
                    {MODIFY_TERRAIN "Ce" $x1 $y1}
                    {BUILD_SOUND_2}
                [/then]
            [/if]
        [/command]
    [/option]

    # --------------------------------------
    # KEEP

    [option]
        message= {MENU_IMG_TXT2 "terrain/castle/encampment/regular-keep-tile.png" ("<span color='green'>" + _ "Build a Keep" + "</span>") ("<span size='small'>" + _ "Cost: 5g" + "</span>")}
        {ANL_SHOW_IF ("Ruffian") "C*"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=5
                [/variable]

                [then]
                    {COMPLETE_ACTION (-5)}
                    {MODIFY_TERRAIN "Ke" $x1 $y1}
                    {BUILD_SOUND_2}
                [/then]
            [/if]
        [/command]
    [/option]
#enddef
