#textdomain wesnoth-anl

# Mainly copied over from utils/worker_options.cfg, but configured to work for lvl 0s instead of specific workers

#define ANL_SHOW_IF_LEVEL_0 TERRAINLIST
    [show_if]
        [have_unit]
            side=$side_number
            x,y=$x1,$y1
            level=0
            [filter_location]
                terrain={TERRAINLIST}
            [/filter_location]
        [/have_unit]
    [/show_if]
#enddef

#define WORKER_OPTIONS_SP
    [set_menu_item]
        id=anl_get_to_work
        description= _ "Get to Work!"
        [show_if]
            [have_unit]
                side=$side_number
                x,y=$x1,$y1
                level=0
                [not]
                    status=worked_this_turn
                [/not]
            [/have_unit]
        [/show_if]
        [command]
            [store_gold]
                side=$side_number
                variable=gold
            [/store_gold]

            [store_unit]
                [filter]
                    x=$x1
                    y=$y1
                [/filter]
                variable=unit
            [/store_unit]

            [while]
                [true][/true]
                [do]
# wmlindent: start ignoring
            [message]
                speaker=unit
                message= _ "What shall I do, my liege?"

[option]
label= _ "Nothing"
    [command]
        # [allow_undo][/allow_undo]
        [break][/break]
    [/command]
[/option]

# ----------------------------------------------
# FARMLAND

# Convert to grassland
#textdomain wesnoth-ANLEra
{ANL_TERRAFORM_FOR_FREE "terrain/grass/green6.png" _"Convert to Grassland" 0 (
    {ANL_SHOW_IF_LEVEL_0 "Re,Rb"}
) (
    {MODIFY_TERRAIN Gg $x1 $y1}
    [sound]
        name=dagger-swish.wav
    [/sound]
)}
#textdomain wesnoth-anl

# ----------------------------------------------
# GRASSLAND

# Plant Farm
{ANL_TERRAFORM_FOR_FREE "terrain/embellishments/farm-veg-spring-icon.png" _"Plant Farm" 0 (
    {ANL_SHOW_IF_LEVEL_0 "G*"}
) (
    {MODIFY_TERRAIN Re $x1 $y1}
    [sound]
        name=entangle.wav
    [/sound]
)}

# Flood

{ANL_TERRAFORM "terrain/water/coast-tile.png" _"Flood the Field" 4 () (
    {ANL_SHOW_IF_LEVEL_0 "G*"}
) (
    {MODIFY_TERRAIN "Ww" $x1 $y1}
    [sound]
        name=water-blast.wav
    [/sound]
)}

# Plant Saplings
{ANL_TERRAFORM "terrain/forest/pine-tile.png" _"Plant Saplings" 2 entangle.wav (
    {ANL_SHOW_IF_LEVEL_0 "G*"}
) (
    {MODIFY_TERRAIN_OVERLAY "^Fp" $x1 $y1}
)}

# ----------------------------------------------
# FOREST

# Chop Down Forest (everywhere except hills/mointains)
{ANL_HARVEST "terrain/grass/semi-dry2.png" _"Chop Down Forest" 1 (
    {ANL_SHOW_IF_LEVEL_0 "!,M*^F*,H*^F*,!,*^F*"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    [delay]
        time=250
    [/delay]
    [sound]
        name=axe.ogg
    [/sound]
    [delay]
        time=150
    [/delay]
    [sound]
        name=wose-die.ogg
    [/sound]

    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}

# different picture on hills
{ANL_HARVEST "terrain/hills/regular.png" _"Chop Down Forest" 1 (
    {ANL_SHOW_IF_LEVEL_0 "H*^F*"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    [delay]
        time=250
    [/delay]
    [sound]
        name=axe.ogg
    [/sound]
    [delay]
        time=150
    [/delay]
    [sound]
        name=wose-die.ogg
    [/sound]

    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}

# different picture on Mointains
{ANL_HARVEST "terrain/mountains/basic-tile.png" _"Chop Down Forest" 1 (
    {ANL_SHOW_IF_LEVEL_0 "M*^F*"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    [delay]
        time=250
    [/delay]
    [sound]
        name=axe.ogg
    [/sound]
    [delay]
        time=150
    [/delay]
    [sound]
        name=wose-die.ogg
    [/sound]

    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}

# ----------------------------------------------
# HILLS

# Build Gold Mine
{ANL_BUILD_VILLAGE "terrain/village/human-hills-tile.png" _"Build Mine" 25 Vhh (
    {ANL_SHOW_IF_LEVEL_0 "H*"}
) (
    {BUILD_SOUND_1}
)}

# ----------------------------------------------
# MOUNTAINS

# Build Gold Mine
{ANL_BUILD_VILLAGE "terrain/village/human-mountain-tile.png" _"Build Mine" 25 Vhh (
    {ANL_SHOW_IF_LEVEL_0 "M*"}
) (
    {BUILD_SOUND_1}
)}

# ----------------------------------------------
# WATER

# Make a Ford
{ANL_TERRAFORM "terrain/water/ford.png" _"Make a Ford" 3 () (
    {ANL_SHOW_IF_LEVEL_0 "!,Wwf*^*,!,Ww*,S*"}
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=dagger-swish.wav
    [/sound]
    {MODIFY_TERRAIN "Wwf" $x1 $y1}
)}

# Landfill
{ANL_TERRAFORM "terrain/grass/green6.png" _"Landfill" 5 () (
    {ANL_SHOW_IF_LEVEL_0 "!,Wwf*^*,!,Ww*,S*"}
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN "Gg" $x1 $y1}
)}

# ----------------------------------------------
# FORD

# Destroy the Ford
{ANL_TERRAFORM "terrain/water/coast-tile.png" _"Destroy the Ford" 1 () (
    {ANL_SHOW_IF_LEVEL_0 "Wwf"}
) (
    [delay]
        time=200
    [/delay]
    {MODIFY_TERRAIN "Ww" $x1 $y1}
    [sound]
        name=pincers.ogg
    [/sound]
    [delay]
        time=200
    [/delay]
    [sound]
        name=water-blast.wav
    [/sound]
)}

# Landfill (on a Ford, cheaper than elsewhere)
{ANL_TERRAFORM "terrain/grass/green6.png" _"Landfill" 2 () (
    {ANL_SHOW_IF_LEVEL_0 "Wwf"}
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN "Gg" $x1 $y1}
)}

# ----------------------------------------------
# CAVE

# Break Up Cave
{ANL_TERRAFORM "terrain/grass/green6.png" _"Smash Cave Floor" 2 () (
    {ANL_SHOW_IF_LEVEL_0 "Uu,Uue,Uu^Ii,Uue^Ii"}
) (
    {REMOVE_IMAGE_OF_BURNED_DOWN_VILLAGE}
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_BASE_TERRAIN "Gg" $x1 $y1}
)}

# Convert Cave To Hills
{ANL_TERRAFORM "terrain/hills/regular2.png" _"Smash Cave Floor" 3 () (
    {ANL_SHOW_IF_LEVEL_0 "Uh,Uhe,Uh^Ii,Uhe^Ii"}
) (
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_BASE_TERRAIN "Hh" $x1 $y1}
)}

# Harvest Mushrooms
{ANL_HARVEST "terrain/cave/floor.png" _"Harvest Mushrooms" 3 (
    {ANL_SHOW_IF_LEVEL_0 "*^Uf,*^Tf,*^Emf,*^Em"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    [delay]
        time=250
    [/delay]
    [sound]
        name=axe.ogg
    [/sound]

    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}
{ANL_HARVEST "terrain/cave/floor.png~BLIT(terrain/cave/beam-tile.png)" _"Harvest Mushrooms" 3 (
    {ANL_SHOW_IF_LEVEL_0 "*^Ufi,*^Tfi"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    [delay]
        time=250
    [/delay]
    [sound]
        name=axe.ogg
    [/sound]

    {MODIFY_TERRAIN_OVERLAY "^Ii" $x1 $y1}
)}

# ----------------------------------------------
# RUBBLE

# Misc
# Remove Embelishments, such as Flowers
{ANL_TERRAFORM_FOR_FREE "terrain/grass/green6.png" _"Clear the Ground" 0 (
    {ANL_SHOW_IF_LEVEL_0 "!,*^Em,*^Emf,*^Ewl,*^Ewf,*^Ecf,*^Eb*,Rd^Es*,!,*^E*,*^Dr,*^Dc"}
    # Excludes Mushrooms, Water Lilies, Campfire/Brazier and partially Stones, which have their own action
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}
# Recover burned down farms and villages (previously build on gras)
{ANL_TERRAFORM_FOR_FREE "terrain/grass/green6.png" _"Clear the Ground" 0 (
    {ANL_SHOW_IF_LEVEL_0 "Rd,Rd^Es*"}
) (
    {REMOVE_IMAGE_OF_BURNED_DOWN_VILLAGE}
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN "Gg" $x1 $y1}
)}

#textdomain wesnoth-ANLEra
{ANL_TERRAFORM_FOR_FREE "terrain/grass/green6.png" _"Remove Fireplace" 0 (
    {ANL_SHOW_IF_LEVEL_0 "*^Ecf,*^Eb*"}
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN_OVERLAY "^" $x1 $y1}
)}

#textdomain wesnoth-ANLEra
{ANL_TERRAFORM_FOR_FREE "terrain/grass/green6.png~BLIT(terrain/misc/brazier-A01.png)" _"Light a Fire" 0 (
    {ANL_SHOW_IF_LEVEL_0 "*^Eb"}
) (
    [delay]
        time=200
    [/delay]
    [sound]
        name=claws.ogg
    [/sound]
    {MODIFY_TERRAIN_OVERLAY "^Ebn" $x1 $y1}
)}

#textdomain wesnoth-ANLEra
{ANL_TERRAFORM "terrain/grass/green6.png" _"Remove Path" 2 () (
    {ANL_SHOW_IF_LEVEL_0 ",!,Re,Rd,Rb,!,R*,Ur,Urb"} # Re is used for farming, Rd for burdned down villages/farms
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    {MODIFY_TERRAIN Gg $x1 $y1}
)}
#------------------------------------------
#textdomain wesnoth-ANLEra
{ANL_TERRAFORM "terrain/water/coast-tile.png" _"Melt Ice" 1 () (
    {ANL_SHOW_IF_LEVEL_0 "Ai"}
) (
    [sound]
        name=dagger-swish.wav
    [/sound]
    {MODIFY_TERRAIN Ww $x1 $y1}
)}
#textdomain wesnoth-anl

[/message]
[/do]
[/while]
{CLEAR_VARIABLE gold}

[/command]
[/set_menu_item]
#enddef
# wmlindent: stop ignoring
