#textdomain wesnoth-ANLEra
[era]
    id=ANLEra
    name="A New Land Era"
    description=_"An Era that uses the macros for the mainline scenario A New Land, with more factions. Works best with less than 10 players."
    hide_help=yes
    # disallowed on maps which add ANL events by themselves, as they would happen twice
    disallow_scenario=multiplayer_A_New_Land,undead_empire_easy,undead_empire_normal,undead_empire_hard
    disallow_modification=Anewlandsp
    force_modification=ai_destruction
    ignore_incompatible_modification=ai_destruction
    # include every faction
    {~add-ons/ANLEra/factions/}
    {RANDOM_SIDE}
    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}

#ifver WESNOTH_VERSION >= 1.15.3
# This is done here, because it applies then to this era only, not all of multiplayer
    [modify_unit_type]
        type=ANLEra Dwarvish Miner
        add_advancement=Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Thunderer,Dwarvish Scout
    [/modify_unit_type]
    [modify_unit_type]
        type=ANLEra Merman Citizen
        add_advancement=ANLEra Merman Brawler,Merman Fighter,Merman Hunter
    [/modify_unit_type]
    [modify_unit_type]
        type=ANLEra Drake Worker
        add_advancement=Drake Clasher,Drake Fighter,Drake Burner,Drake Glider
    [/modify_unit_type]
    # Special case: This changes it in the help
    [modify_unit_type]
        type=ANLEra Elvish Civilian
        add_advancement=Elvish Fighter,Elvish Archer,Elvish Shaman
    [/modify_unit_type]
    # For the units, it should be gender-based:
    [event]
        name=unit placed
        first_time_only=no
        [filter]
            id=ANLEra Elvish Civilian
        [/filter]

        [if]
            [variable]
                name=unit.gender
                equals=male
            [/variable]
            [then]
                {VARIABLE unit.advances_to Elvish Fighter,Elvish Archer}
            [/then]
            [else]
                {VARIABLE unit.advances_to Elvish Shaman,Elvish Archer}
            [/else]
        [/if]

        [unstore_unit]
            variable=unit
        [/unstore_unit]
    [/event]
#endif

    [event]
        name=prestart

        # Players

        {SET_SIDE_VARIABLES 1}
        {SET_SIDE_VARIABLES 2}
        {SET_SIDE_VARIABLES 3}
        {SET_SIDE_VARIABLES 4}
        {SET_SIDE_VARIABLES 5}
        {SET_SIDE_VARIABLES 6}
        {SET_SIDE_VARIABLES 7}
        {SET_SIDE_VARIABLES 8}
        {SET_SIDE_VARIABLES 9}
        #{SET_SIDE_VARIABLES 10}


        {ANL_HELP}
        {WORKER_OPTIONS "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
        {RESEARCH_OPTIONS "ANLEra Novice Orcish Shaman,ANLEra Drake Apprentice,Elvish Shaman,Mage,ANLEra Dwarvish Witness,ANLEra Rogue Mage,Dark Adept"}
        {LEADER_OPTIONS}

        # place a flower on the *^Gvs terrain
        [store_locations]
            variable=t
            terrain=*^Gvs
        [/store_locations]
        [foreach]
            array=t
            [do]
                {PLACE_IMAGE items/flower4.png $this_item.x $this_item.y}
            [/do]
        [/foreach]
        {CLEAR_VARIABLE t}
    [/event]

    # Auto-studying

    {AUTO_STUDYING "ANLEra Novice Orcish Shaman,ANLEra Drake Apprentice,Elvish Shaman,Mage,ANLEra Dwarvish Witness,ANLEra Rogue Mage,Dark Adept"}

    # Research complete messages

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                less_than_equal_to=9
            [/variable]

            [then]
                {FARMING_RESEARCH_COMPLETE}
                {MINING_RESEARCH_COMPLETE}
                {WARFARE_RESEARCH_COMPLETE}
            [/then]
        [/if]
    [/event]

    # Remove working status from any working units when starting a turn

    [event]
        name=side turn
        first_time_only=no

        [store_unit]
            [filter]
                side=$side_number
                status=worked_this_turn
            [/filter]

            kill=yes
            variable=this_side_workers
        [/store_unit]

        [foreach]
            array=this_side_workers
            [do]
                [clear_variable]
                    name=this_item.status.worked_this_turn
                [/clear_variable]

                [unstore_unit]
                    variable=this_item
                [/unstore_unit]
            [/do]
        [/foreach]

        [clear_variable]
            name=this_side_workers
        [/clear_variable]
    [/event]

    # Auto-working

    {AUTO_FARMING "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
    {AUTO_MINING "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
    {AUTO_HUNTING "Woodsman,Ranger,Hunstman,Poacher,Trapper"}

    [event]
        name=new turn
        first_time_only=no

        {SET_NAMES 1}
        {SET_NAMES 2}
        {SET_NAMES 3}
        {SET_NAMES 4}
        {SET_NAMES 5}
        {SET_NAMES 6}
        {SET_NAMES 7}
        {SET_NAMES 8}
        {SET_NAMES 9}
        #{SET_NAMES 10}


        {STORE_SIDE 1}
        {STORE_SIDE 2}
        {STORE_SIDE 3}
        {STORE_SIDE 4}
        {STORE_SIDE 5}
        {STORE_SIDE 6}
        {STORE_SIDE 7}
        {STORE_SIDE 8}
        {STORE_SIDE 9}
        #{STORE_SIDE 10}
    [/event]

    {AI_UNITS}
[/era]
