#textdomain wesnoth-ANLEra

# This file includes the all ANL mechanisms,
# either directly or by using macros defined in other files.
# The intention is that there are two ways to load the mechanisms:
# either by the era or by loading this resource from a scenario.

# That way, it can be played with other eras too.

# To use this in a scenario:
# - use [load_resource]
# - use [remove_event] with id=exta_ai_units before "turn 1" events happen;
#   if you want that the scenario behaves the same way with the era.
# - use disallow_modification=Anewlandsp, as it is incompatible with this

# - PS: if the scenario is not a competitive one, you can additionally use
#   [load_resource] with id=anl_faction_flags, though it only works with the era
#   (it is disabled by default, because it reveals each faction in the first turn).

[resource]
    id=anl_mechanism

    [event]
        name=prestart

        # Create variables for each player, which save things like research progress.
        {SET_SIDE_VARIABLES 1}
        {SET_SIDE_VARIABLES 2}
        {SET_SIDE_VARIABLES 3}
        {SET_SIDE_VARIABLES 4}
        {SET_SIDE_VARIABLES 5}
        {SET_SIDE_VARIABLES 6}
        {SET_SIDE_VARIABLES 7}
        {SET_SIDE_VARIABLES 8}
        {SET_SIDE_VARIABLES 9}

        # Adding menu_items for various purposes.
        {ANL_HELP}
        {WORKER_OPTIONS "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
        {RESEARCH_OPTIONS "ANLEra Novice Orcish Shaman,ANLEra Drake Apprentice,Elvish Shaman,Mage,ANLEra Dwarvish Witness,ANLEra Rogue Mage,Dark Adept"}
        {LEADER_OPTIONS}

        # Place a flower on already existing *^Gvs terrain.
        # If a worker starts its turn on such a field, it will give money.
        [store_locations]
            variable=t
            terrain=*^Gvs
        [/store_locations]
        [foreach]
            array=t
            [do]
                {PLACE_IMAGE items/flower4.png $this_item.x $this_item.y}
            [/do]
        [/foreach]
        {CLEAR_VARIABLE t}
    [/event]

    # Remove working status from any working units when starting a turn

    [event]
        name=side turn
        first_time_only=no

        [store_unit]
            [filter]
                side=$side_number
                status=worked_this_turn
            [/filter]

            variable=this_side_workers
        [/store_unit]

        [foreach]
            array=this_side_workers
            [do]
                [clear_variable]
                    name=this_item.status.worked_this_turn
                [/clear_variable]

                [unstore_unit]
                    variable=this_item
                [/unstore_unit]
            [/do]
        [/foreach]

        [clear_variable]
            name=this_side_workers
        [/clear_variable]
    [/event]

    # Auto-working

    {AUTO_FARMING "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
    {AUTO_MINING "Goblin Spearman,Peasant,Ruffian,ANLEra Dwarvish Miner,ANLEra Elvish Civilian,ANLEra Drake Worker,Walking Corpse,ANLEra Merman Citizen"}
    {AUTO_HUNTING "Woodsman,Ranger,Huntsman,Poacher,Trapper"}

    # Auto-studying

    {AUTO_STUDYING "ANLEra Novice Orcish Shaman,ANLEra Drake Apprentice,Elvish Shaman,Mage,ANLEra Dwarvish Witness,ANLEra Rogue Mage,Dark Adept"}

    # Research complete messages

    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                less_than_equal_to=9
            [/variable]

            [then]
                {FARMING_RESEARCH_COMPLETE}
                {MINING_RESEARCH_COMPLETE}
                {WARFARE_RESEARCH_COMPLETE}
            [/then]
        [/if]
    [/event]

    [event]
        name=new turn
        first_time_only=no

        # For the give_tech and give_gold choices in leader_options,
        # these Names are used.
        # May use side_name in the future instead.
        {SET_NAMES 1}
        {SET_NAMES 2}
        {SET_NAMES 3}
        {SET_NAMES 4}
        {SET_NAMES 5}
        {SET_NAMES 6}
        {SET_NAMES 7}
        {SET_NAMES 8}
        {SET_NAMES 9}

        # Currently, some parts of the code use this variable to check
        # whether other sides are AI controlled or not.
        {STORE_SIDE 1}
        {STORE_SIDE 2}
        {STORE_SIDE 3}
        {STORE_SIDE 4}
        {STORE_SIDE 5}
        {STORE_SIDE 6}
        {STORE_SIDE 7}
        {STORE_SIDE 8}
        {STORE_SIDE 9}
    [/event]
[/resource]
