#textdomain wesnoth-anl

#define BUILDINGS_HUMAN
    # Build Village

    [option]
        message= {MENU_IMG_TXT2 "terrain/village/human-tile.png" ("<span color='green'>" + _ "Build Village" + "</span>") ("<span size='small'>" + _ "Cost: 14g" + "</span>")}
        {ANL_SHOW_IF ("Peasant") "G*,Dd,Ds,Aa"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=14
                [/variable]

                [then]
                    {COMPLETE_ACTION (-14)}
                    {MODIFY_TERRAIN_OVERLAY "^Vh" $x1 $y1}
                    {ANL_CAPTURE_VILLAGE}
                    {BUILD_SOUND_1}
                [/then]
            [/if]
        [/command]
    [/option]

    # ------------------------------------------------
    # CASTLES
    [option]
        message= {MENU_IMG_TXT2 "terrain/castle/castle-tile.png" ("<span color='green'>" + _ "Build Castle" + "</span>") ("<span size='small'>" + _ "Cost: 5g" + "</span>")}
        {ANL_SHOW_IF ("Peasant") "G*,Dd,Ds,Aa"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=5
                [/variable]

                [then]
                    {COMPLETE_ACTION (-5)}
                    {MODIFY_TERRAIN "Ch" $x1 $y1}
                    {BUILD_SOUND_2}
                [/then]
            [/if]
        [/command]
    [/option]

    # --------------------------------------
    # KEEP

    [option]
        message= {MENU_IMG_TXT2 "terrain/castle/keep-tile.png" ("<span color='green'>" + _ "Build a Keep" + "</span>") ("<span size='small'>" + _ "Cost: 6g" + "</span>")}
        {ANL_SHOW_IF ("Peasant") "C*"}
        [command]
            [if]
                [variable]
                    name=worker.gold
                    greater_than_equal_to=6
                [/variable]

                [then]
                    {COMPLETE_ACTION (-6)}
                    {MODIFY_TERRAIN "Kh" $x1 $y1}
                    {BUILD_SOUND_2}
                [/then]
            [/if]
        [/command]
    [/option]
#enddef
