#textdomain wesnoth-ANLEra

# utils/thieves.cfg
# In some scenarios, a Thief can steal gold from other players.

# Historical note:
#  * Thieves were part of A New Land for Wesnoth 1.2. They only appeared
#    in one map, End Of Days. Nyogtha also used them in ANL Maps.
#  * Thieves disappeared in A New Land for Wesnoth 1.4.
#  * Thieves reappeared in A New Land Classic for Wesnoth 1.9.

#define NOTE_THIEVES
    [note]
        description= _ "Recruit a Thief, and it can steal gold from other players."
    [/note]
#enddef

#define ENABLE_THIEVES SIDES
    # To enable thieves, put this macro in some event, perhaps a
    # prestart event. SIDES are all sides that spend gold.

    # {ALLOW_RECRUIT ({SIDES}) (Thief)}

    # When recruiting a Thief, add its new pick-pocket attack.
    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            type_adv_tree=Thief
            side={SIDES}
        [/filter]

        [object]
            silent=yes
            duration=forever
            take_only_once=no
            [filter]
                x=$x1
                y=$y1
                # Don't apply this to a leader. They should be able to defend themselves with this attack.
                canrecruit=no
            [/filter]
            [effect]
                # Change to 1-3 pick pocket.
                apply_to=attack
                name=dagger # Use dagger's attack animation.
                # po: A special attack, which does steal money from the enemy.
                set_description= _ "pick pocket"
                set_icon=attacks/fist-human.png
                set_type=impact
                set_range=melee
                set_damage=1
                set_attacks=3
                [set_specials]
                    mode=replace
                    [dummy]
                        id=anl steals 4 gold
                        name= _ "steals 4 gold"
                        description= _ "When used offensively, each hit steals 4 gold from the victim’s side."
                        active_on=offense
                    [/dummy]
                [/set_specials]
            [/effect]
        [/object]
    [/event]

    # When Thief advances to Rogue, or Rogue advances to Assassin,
    # add 3 more strikes to its pick-pocket attack.
    [event]
        name=advance
        first_time_only=no
        [filter]
            type=Thief,Rogue
            side={SIDES}
        [/filter]

        [object]
            silent=yes
            duration=forever
            take_only_once=no
            [filter]
                x=$x1
                y=$y1
                # Never apply this to a leader.
                canrecruit=no
            [/filter]
            [effect]
                apply_to=attack
                name=dagger
                increase_attacks=3
            [/effect]
        [/object]
    [/event]

    # When attacker hits with "pick pocket", then steal 4 gold.
    [event]
        name=attacker hits
        first_time_only=no
        [filter_attack]
#ifver WESNOTH_VERSION >= 1.15.2
            special_id=anl steals 4 gold
#else
            special=anl steals 4 gold
#endif
        [/filter_attack]
        [filter_second]
            # Steal gold only from other sides that spend gold, not
            # from the 5th side in Aybabtu Valley or in End of Days.
            side={SIDES}
        [/filter_second]

        # Steal 4 gold. If second_unit's side has less than 4 gold,
        # this still works. Gold counter goes negative. Players cannot
        # prevent theft just by spending all of own gold!
        [gold]
            amount=-4
            side=$second_unit.side
        [/gold]
        [gold]
            amount=4
            side=$unit.side
        [/gold]
        [sound]
            name=gold.ogg
        [/sound]
        [floating_text]
            x,y=$x1,$y1
            text="<span color='#cccc33'>4</span>" # wmllint: ignore
        [/floating_text]
    [/event]
#enddef
