#textdomain wesnoth-help
[multiplayer_side]
    id=ANLEra_Orcs
    name= _ "race^Orcs"
    image="units/goblins/spearman.png"
    type=Goblin Spearman
    leader=Orcish Warrior,Troll,Troll Rocklobber,Troll Shaman,Orcish Crossbowman,Orcish Slayer,ANLEra Orcish Shaman
    recruit=Goblin Spearman,ANLEra Novice Orcish Shaman
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
