#textdomain wesnoth-dw

#ifver WESNOTH_VERSION < 1.15.3
#define SPECIAL_NOTES_STUN
_ " This unit is able to stun its enemies, disrupting their zones of control."#enddef
#endif

#define WEAPON_SPECIAL_STUN
    [damage]
        id=tail_stun
        name= _ "stun"
        description= _ "This attack hits so hard that the opponent is dazed and can no longer enforce a zone of control. The effect wears off on the opponent’s next turn."
#ifver WESNOTH_VERSION >= 1.15.14
        special_note=_ "This unit is able to stun its enemies, disrupting their zones of control."
#endif
        multiply=1
    [/damage]
#enddef
