#textdomain wesnoth-thot

#define SPECIAL_NOTES_INSPIRE
_" The presence of this unit inspires own units next to it to deal more damage in combat, though this only applies to units of lower or equal level."#enddef

#define ABILITY_INSPIRE
    # Canned definition of the Inspire ability to be included in an
    # [abilities] clause.
    [leadership]
        id=inspire
        value="(25 * (level - other.level + 1))"
        cumulative=no
        name= _ "inspire"
        female_name= _ "female^inspire"
        description= _ "This unit can inspire own units that are next to it, making them fight better. Adjacent own units of lower or equal level will deal 25% more damage plus 25% for each level they are below the inspiring unit."
        affect_self=no
        [affect_adjacent]
            [filter]
                formula="level <= other.level"
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#textdomain wesnoth-dw

#define SPECIAL_NOTES_STUN
_ " This unit is able to stun its enemies, disrupting their zones of control."#enddef

#define WEAPON_SPECIAL_STUN
    [damage]
        id=tail_stun
        name= _ "stun"
        description= _ "This attack hits so hard that the opponent is dazed and can no longer enforce a zone of control. The effect wears off on the opponent’s next turn."
        multiply=1
    [/damage]
#enddef
