#textdomain wesnoth-ANLEra

#define ANL_AI_FACTION SIDE FACTION THEN
    [if]
        [variable]
            name=sidetocheck_{SIDE}.controller
            equals=ai
        [/variable]

        [variable]
            name=sidetocheck_{SIDE}.faction
            equals={FACTION}
        [/variable]

        [then]
            {THEN}
        [/then]
    [/if]
#enddef

#define ANL_ALLIANCE SIDE TURN GOLD UNIT
    [event]
        name=side {SIDE} turn {TURN}
        first_time_only=no
        [filter_condition]
            [have_unit]
                side=$side_number
                canrecruit=yes
            [/have_unit]
        [/filter_condition]

        [gold]
            side={SIDE}
            amount={GOLD}
        [/gold]
        [allow_recruit]
            side={SIDE}
            type={UNIT}
        [/allow_recruit]

        {VARIABLE name_of_side $player_{SIDE}.name|}

        [set_variables]
            name=new_recruits
            [split]
                list={UNIT}
                key=type
                separator=","
            [/split]
        [/set_variables]

        [if]
            [variable]
                name=new_recruits.length
                numerical_equals=1
            [/variable]
            [then]
                [store_unit_type]
                    type={UNIT}
                    variable=unit_type
                [/store_unit_type]
                [message]
                    speaker=narrator
                    message=_ "$name_of_side| can now recruit a new unit type: $unit_type.name|"
                    image=wesnoth-icon.png
                [/message]
            [/then]
            [else]
                [foreach]
                    array=new_recruits
                    [do]
                        [store_unit_type]
                            type=$this_item.type
                            variable=unit_type
                        [/store_unit_type]
                        {VARIABLE this_item.name $unit_type.name}
                    [/do]
                [/foreach]

                # handle the last element of the list differently
                {VARIABLE last_one $unit_type.name}
                [clear_variable]
                    name=new_recruits[$($new_recruits.length-1)]
                [/clear_variable]

                [set_variable]
                    name=namelist
                    [join]
                        variable=new_recruits
                        key=name
                        separator=", "
                    [/join]
                [/set_variable]

                # so it can have special treatment here
                [message]
                    speaker=narrator
                    message=_ "$name_of_side| can now recruit new unit types: $namelist| and $last_one|"
                    image=wesnoth-icon.png
                [/message]
            [/else]
        [/if]

        {CLEAR_VARIABLE name_of_side,unit_type,new_recruits,namelist,last_one,last_index}
    [/event]
#enddef

#define ANL_AI_FACTION_EVENTS SIDE
    {STORE_SIDE {SIDE}}

    {ANL_AI_FACTION {SIDE} ANLEra_Orcs (
        {ANL_ALLIANCE {SIDE} 7  15 (Goblin Rouser)}
        {ANL_ALLIANCE {SIDE} 9  15 (Orcish Grunt)}
        {ANL_ALLIANCE {SIDE} 11 15 (Orcish Archer)}
        {ANL_ALLIANCE {SIDE} 13 15 (Troll Whelp)}
        {ANL_ALLIANCE {SIDE} 15 15 (Orcish Assassin)}
        {ANL_ALLIANCE {SIDE} 17 15 (Troll,Orcish Crossbowman,Orcish Warrior)}
        {ANL_ALLIANCE {SIDE} 21 15 (Orcish Slayer)}
        {ANL_ALLIANCE {SIDE} 23 15 (Goblin Knight)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Undead (
        {ANL_ALLIANCE {SIDE} 7  15 (Soulless)}
        {ANL_ALLIANCE {SIDE} 9  15 (Skeleton)}
        {ANL_ALLIANCE {SIDE} 11 15 (Skeleton Archer)}
        {ANL_ALLIANCE {SIDE} 13 15 (Ghoul)}
        {ANL_ALLIANCE {SIDE} 15 15 (Dark Adept)}
        {ANL_ALLIANCE {SIDE} 17 15 (Necrophage,Bone Shooter,Revenant)}
        {ANL_ALLIANCE {SIDE} 21 15 (Dark Sorcerer)}
        {ANL_ALLIANCE {SIDE} 23 15 (Deathblade)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Drakes (
        {ANL_ALLIANCE {SIDE} 7  15 (Drake Glider)}
        {ANL_ALLIANCE {SIDE} 9  15 (Drake Fighter)}
        {ANL_ALLIANCE {SIDE} 11 15 (Drake Burner)}
        {ANL_ALLIANCE {SIDE} 13 15 (Drake Clasher)}
        {ANL_ALLIANCE {SIDE} 15 15 (Drake Flare)}
        {ANL_ALLIANCE {SIDE} 17 15 (Fire Drake,Drake Arbiter,Drake Warrior)}
        {ANL_ALLIANCE {SIDE} 21 15 (ANLEra Drake Shaman)}
        {ANL_ALLIANCE {SIDE} 23 15 (Drake Thrasher)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Humans (
        {ANL_ALLIANCE {SIDE} 7  15 (Sergeant)}
        {ANL_ALLIANCE {SIDE} 9  15 (Spearman)}
        {ANL_ALLIANCE {SIDE} 11 15 (Bowman)}
        {ANL_ALLIANCE {SIDE} 13 15 (Heavy Infantryman)}
        {ANL_ALLIANCE {SIDE} 15 15 (Fencer)}
        {ANL_ALLIANCE {SIDE} 17 15 (Swordsman,Pikeman,Longbowman)}
        {ANL_ALLIANCE {SIDE} 21 15 (Shock Trooper)}
        {ANL_ALLIANCE {SIDE} 23 15 (Duelist)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Outlaws (
        {ANL_ALLIANCE {SIDE} 7  15 (Footpad)}
        {ANL_ALLIANCE {SIDE} 9  15 (Thug)}
        {ANL_ALLIANCE {SIDE} 11 15 (Poacher)}
        {ANL_ALLIANCE {SIDE} 13 15 (Thief)}
        {ANL_ALLIANCE {SIDE} 15 15 (Outlaw)}
        {ANL_ALLIANCE {SIDE} 17 15 (Bandit,Trapper)}
        {ANL_ALLIANCE {SIDE} 21 15 (Rogue)}
        {ANL_ALLIANCE {SIDE} 23 15 (ANLEra Shadow Mage)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Elves (
        {ANL_ALLIANCE {SIDE} 7  15 (Elvish Scout)}
        {ANL_ALLIANCE {SIDE} 9  15 (Elvish Fighter)}
        {ANL_ALLIANCE {SIDE} 11 15 (Elvish Archer)}
        {ANL_ALLIANCE {SIDE} 13 15 (Wose)}
        {ANL_ALLIANCE {SIDE} 15 15 (Elvish Shaman)}
        {ANL_ALLIANCE {SIDE} 17 15 (Elvish Captain,Elvish Marksman,Elder Wose)}
        {ANL_ALLIANCE {SIDE} 21 15 (Elvish Druid)}
        {ANL_ALLIANCE {SIDE} 23 15 (Elvish Hero)}
    )}
    {ANL_AI_FACTION {SIDE} ANLEra_Dwarves (
        {ANL_ALLIANCE {SIDE} 7  15 (Dwarvish Scout)}
        {ANL_ALLIANCE {SIDE} 9  15 (Dwarvish Fighter)}
        {ANL_ALLIANCE {SIDE} 11 15 (Dwarvish Thunderer)}
        {ANL_ALLIANCE {SIDE} 13 15 (Dwarvish Guardsman)}
        {ANL_ALLIANCE {SIDE} 15 15 (Dwarvish Ulfserker)}
        {ANL_ALLIANCE {SIDE} 17 15 (Dwarvish Steelclad,Dwarvish Thunderguard)}
        {ANL_ALLIANCE {SIDE} 21 15 (Dwarvish Pathfinder)}
        {ANL_ALLIANCE {SIDE} 23 15 (Dwarvish Stalwart)}
    )}
#enddef

#define AI_UNITS
    [event]
        # ID to be able to remove it from scenarios in a start event.
        # For scenarios, which add better recruits themselves.
        name=turn 1
        id=exta_ai_units

        {ANL_AI_FACTION_EVENTS 1}
        {ANL_AI_FACTION_EVENTS 2}
        {ANL_AI_FACTION_EVENTS 3}
        {ANL_AI_FACTION_EVENTS 4}
        {ANL_AI_FACTION_EVENTS 5}
        {ANL_AI_FACTION_EVENTS 6}
        {ANL_AI_FACTION_EVENTS 7}
        {ANL_AI_FACTION_EVENTS 8}
        {ANL_AI_FACTION_EVENTS 9}
    [/event]
#enddef
