#textdomain wesnoth-ANLEra

# Place scenario AI units.

# side 7
{NOTRAIT_UNIT 7 "Walking Corpse" 10 25} {GUARDIAN}
{NOTRAIT_UNIT 7 "Walking Corpse" 10 26} {GUARDIAN}
{NOTRAIT_UNIT 7 "Walking Corpse" 11 26} {GUARDIAN}
{ANL_PLACE_GUARD_L0 7 "Walking Corpse" 13 27}
{ANL_PLACE_GUARDIAN 7 "Revenant" 15 24}
#{ANL_PLACE_GUARDIAN 7 "Revenant" 26 18}
{ANL_PLACE_GUARDIAN 7 "Dwarvish Thunderer" 26 18}

# side 8
{NOTRAIT_UNIT 8 "Walking Corpse" 10 30} {GUARDIAN}
{NOTRAIT_UNIT 8 "Walking Corpse" 10 29} {GUARDIAN}
{NOTRAIT_UNIT 8 "Walking Corpse" 11 30} {GUARDIAN}
{ANL_PLACE_GUARD_L0 8 "Walking Corpse" 13 29}
{ANL_PLACE_GUARDIAN 8 "Revenant" 15 32}
{ANL_PLACE_GUARDIAN 8 "Revenant" 26 37}

{ANL_PLACE_WOUNDED_UNIT 3 "Water Serpent" 25 13 4}
{ANL_PLACE_WOUNDED_UNIT 4 "Giant Spider" 25 43 4}

# cosidering to slow these units on the first round
{ANL_PLACE_WOUNDED_UNIT 3 "Goblin Rouser" 30 20 4}
[+unit]
	[status]
		do_not_destroy_villages=yes
		do_not_destroy_castles=yes
	[/status]
[/unit]
{ANL_PLACE_WOUNDED_UNIT 4 "Goblin Rouser" 30 35 4}
[+unit]
	[status]
		do_not_destroy_villages=yes
		do_not_destroy_castles=yes
	[/status]
[/unit]
