# wmllint: no translatables

# scenario events – giving ai different units for recruitment

# only gold is increased, income not
# this may be lame after 30 rounds

[event]
    name=turn 3

    [gold]
        side=5,6
        amount=6
    [/gold]
[/event]

[event]
    name=turn 6

    [gold]
        side=7,8
        amount=6
    [/gold]

    [allow_recruit]
        side=7,8
        type=Soulless
    [/allow_recruit]
[/event]

[event]
    name=turn 7

    [allow_recruit]
        side=3,4
        type=Soulless
    [/allow_recruit]
[/event]

[event]
    name=turn 8

    [allow_recruit]
        side=5,6
        type=Goblin Rouser
    [/allow_recruit]
[/event]

[event]
    name=turn 9

    [allow_recruit]
        side=7,8
        type=Skeleton
    [/allow_recruit]

    [if]
        [have_unit]
            id=mageguard
        [/have_unit]
        [then]
            [store_side]
                side=8
                variable=side
            [/store_side]

            [modify_side]
                side=8
                # From now on the mageguard cannot anymore be paid by support money.
                # Increase of income by 1 (because base_income is 2 more than income it is -1)
                income="$($side.base_income-1)"
            [/modify_side]

            {CLEAR_VARIABLE side}
        [/then]
    [/if]
[/event]

[event]
    name=turn 11

    [allow_recruit]
        side=7,8
        type=Skeleton Archer
    [/allow_recruit]
[/event]

[event]
    name=turn 13

    [disallow_recruit]
        side=7,8
        type=Walking Corpse,Soulless
    [/disallow_recruit]
    [disallow_recruit]
        side=5,6
        type=Goblin Spearman
    [/disallow_recruit]
    [disallow_recruit]
        side=3,4
        type=Walking Corpse
    [/disallow_recruit]
[/event]

[event]
    name=turn 15

    [allow_recruit]
        side=7,8
        type=Dark Adept
    [/allow_recruit]
[/event]

[event]
    name=turn 17

    [gold]
        side=7,8
        amount=50
    [/gold]

    [allow_recruit]
        side=7,8
        type=Necrophage,Bone Shooter,Revenant
    [/allow_recruit]
[/event]

[event]
    name=turn 18

    [allow_recruit]
        side=3,4
        type=Skeleton,Skeleton Archer
    [/allow_recruit]
[/event]
